body, html, #root {
  background: #23283a !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Remove any min-height or margin-bottom from main content */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Remove any border-top or box-shadow from the copyright line */
.footer, .copyright-line {
  border-top: none !important;
  box-shadow: none !important;
}
